<!DOCTYPE html>
<html>

  <head>
    <title> <%= title %> </title>

   
    <!--CSS section-->
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' /> 
    <link rel='stylesheet' href='/content/app.css' />
    <link rel='stylesheet' href='/content/full-width.css' />
    <link rel='stylesheet' href='/content/business_contact.css' /> 
    <link rel='icon' type= 'image/x-icon' href ='/assets/images/favicon.ico'>
  </head>

  <body>
  <!--Partial:header-->
  <%- include('../partials/header.ejs') %>
    
  <!--Partial:content and footer-->
  <div id="main" class="main_wrapper">
       
    <div id="grid_placeholder" class="main_grid_constraint">
    </div> 
    
    <div id="content_in_main_wrapper" class="main_grid_constraint">  
    <%- include('../partials/content.ejs') %>

<!----------------------->
<!------page content----->
<!----------------------->
<div class="mail_wrap">
 <div id="mail">
 
 <main class="container">
  <div class="row">
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<div id="add">
							<!--If login,show add button-->
							<% if (typeof displayName == 'string' && displayName) { %>
							<a href="/book-list/add" class="user_button" role="button">Add New Contact</a>
							<% } else { %>
							<a href="/login" class="user_button" role="button">Login to edit</a>
							<% } %>
						</div>
						<thead>
                            <!--Header row-->
							<tr class="table100-head">
							 <% if (typeof displayName == 'string' && displayName) { %>
								<th class="column1">NAME</th>
								<th class="column2">PHONE</th>
								<th class="column3">EMAIL</th>
								<th class="column4"></th>
								<th class="column5"></th>
                            <% } else { %>
								<th class="column1">Contact name</th>
								<th class="column2">Phone</th>
								<th class="column3">Email</th>
							<% } %>  							
							</tr>
						</thead>
                        
						<tbody>
						        <!--Repearable Template Row-->
								<% for(let count=0;count<BookList.length;count++){ %> 
								<tr>
								 <!--Only show sedit and delete buttons when user login-->
								 <% if (typeof displayName == 'string' && displayName) { %>
                                <td class="column1"><%= BookList[count].name %></td>
								<td class="column2"><%= BookList[count].author %></td>
								<td class="column3"><%= BookList[count].published %></td>
								<td class="column4"><a href="/book-list/edit/<%= BookList[count]._id %>" class="user_button">Edit</a></td>
								<td class="column5"><a id="cancel" href="/book-list/delete/<%= BookList[count]._id %>" class="delete_button">Delete</a></td>  
							    <% } else {%>
                               <td class="column1"><%= BookList[count].name %></td>
                               <td class="column2"><%= BookList[count].author %></td>
                               <td class="column3"><%= BookList[count].published %></td>
                               <% } %> 
							</tr>
						  <% }  %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>


<!----------------------->
<!------page finish----->
<!----------------------->


  <%- include('../partials/footer.ejs') %>
  </div>
  </div> 
  
  <!--JS section-->
  <script src='/jquery/dist/jquery.min.js'></script> <!--Jquery must before bootstrap for popover-->  
  <script src='/scripts/app.js'></script>
  <script src='/scripts/nav.js'></script>
  <script src='/popper.js/dist/umd/popper.min.js'></script>
  <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
  </body>

</html>




 